[build-system]
requires = [
    "scikit-build-core>=0.8",
    "pybind11>=2.11",
]
build-backend = "scikit_build_core.build"

[project]
name = "unopy"
version = "0.1.0"
requires-python = ">=3.8"
description = "Pybind11 bindings of Uno"

[tool.scikit-build]
cmake.source-dir = "."
cmake.verbose = true
wheel.cmake = true

# support for passing paths to dependencies from environment to CMake
[tool.scikit-build.cmake.define]
# BQPD (cmake BQPD=/path/.../libbqpd.a)
BQPD = "interfaces/Python/third_party/bqpd/lib/libbqpd.a"
# MUMPS
MUMPS_INCLUDE_DIR = "interfaces/Python/third_party/mumps/include"
METIS_INCLUDE_DIR = "interfaces/Python/third_party/mumps/include"
METIS_LIBRARY = "interfaces/Python/third_party/mumps/lib/libmetis.a"
MUMPS_LIBRARY = "interfaces/Python/third_party/mumps/lib/libdmumps.a"
MUMPS_COMMON_LIBRARY = "interfaces/Python/third_party/mumps/lib/libmumps_common.a"
MUMPS_PORD_LIBRARY = "interfaces/Python/third_party/mumps/lib/libpord.a"
MUMPS_MPISEQ_LIBRARY = "interfaces/Python/third_party/mumps/lib/libmpiseq.a"
BLAS_LIBRARIES = "interfaces/Python/third_party/mumps/lib/libblas.a"
LAPACK_LIBRARIES = "interfaces/Python/third_party/mumps/lib/liblapack.a"
# HiGHS
HIGHS_DIR = "interfaces/Python/third_party/highs/lib/cmake/highs"