name: JuliaCI
on:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - '*.cff'
  pull_request:
    branches: [main]
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - '*.cff'
    
# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        UNO_PRESET: [uno_filtersqp_bqpd, uno_filtersqp_highs, uno_filtersqp_bqpd_identity, uno_filtersqp_bqpd_regularization_tr, uno_filtersqp_bqpd_regularization_ls, uno_ipopt_mumps, uno_ipopt_mumps_identity, uno_filterslp_bqpd, uno_filterslp_highs, uno_filtersqp_bqpd_charlies_instances]
    name: Julia tests of ${{matrix.UNO_PRESET}} - ${{ github.event_name }}
    
    steps:
      - uses: actions/checkout@v4
      # Install Julia 1.7 for BinaryBuilder. Note that this is an old version of
      # Julia, but it is required for compatibility with BinaryBuilder.
      - uses: julia-actions/setup-julia@v2
        with:
          version: "1.7"
          arch: x64
      - uses: julia-actions/cache@v2
      # Set environment variables required by BinaryBuilder.
      - name: Set the environment variables
        run: |
          git fetch --tags
          echo "UNO_RELEASE=$(git describe --tags $(git rev-list --tags --max-count=1) | sed 's/^v//')" >> $GITHUB_ENV
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "UNO_COMMIT=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV
            echo "UNO_URL=${{ github.event.pull_request.head.repo.clone_url }}" >> $GITHUB_ENV
          else
            echo "UNO_COMMIT=${{ github.sha }}" >> $GITHUB_ENV
            echo "UNO_URL=https://github.com/${{ github.repository }}.git" >> $GITHUB_ENV
          fi
      - name: Compile Uno_jll.jl
        run: |
          julia --color=yes -e 'using Pkg; Pkg.add("BinaryBuilder")'
          julia --color=yes .github/julia/build_tarballs_yggdrasil.jl x86_64-linux-gnu-cxx11 --verbose --deploy="local"
      # Now install a newer version of Julia to actually test Uno_jll.jl.
      # We choose v1.10 because it is the current Long-Term Support (LTS).
      - uses: julia-actions/setup-julia@v2
        with:
          version: "1.10"
          arch: x64
      - name: Test ${{matrix.UNO_PRESET}} preset on .github/julia/runtests.jl
        shell: julia --color=yes --project=.github/julia {0}
        run: |
          using Pkg
          Pkg.instantiate()
          Pkg.develop(path="/home/runner/.julia/dev/Uno_jll")
          include("/home/runner/work/Uno/Uno/.github/julia/runtests_${{matrix.UNO_PRESET}}.jl")
