name: Release
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v2023.11.15
jobs:
  build:
    name: Uno -- Release ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Uno
        uses: actions/checkout@v4
      - name: Install Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: "1.7"
          arch: x64
      - name: Set the environment variables BINARYBUILDER_AUTOMATIC_APPLE, UNO_RELEASE, UNO_COMMIT
        shell: bash
        run: |
          echo "BINARYBUILDER_AUTOMATIC_APPLE=true" >> $GITHUB_ENV
          echo "UNO_RELEASE=${{ github.ref_name }}" >> $GITHUB_ENV
          echo "UNO_COMMIT=${{ github.sha }}" >> $GITHUB_ENV
          echo "UNO_URL=https://github.com/${{ github.repository }}.git" >> $GITHUB_ENV
      - name: Cross-compilation of Uno -- x86_64-linux-gnu-cxx11
        run: |
          julia --color=yes -e 'using Pkg; Pkg.add("BinaryBuilder")'
          julia --color=yes .github/julia/build_tarballs_release.jl x86_64-linux-gnu-cxx11 --verbose
          rm -r ~/.julia
      - name: Cross-compilation of Uno -- x86_64-w64-mingw32-cxx11
        run: |
          julia --color=yes -e 'using Pkg; Pkg.add("BinaryBuilder")'
          julia --color=yes .github/julia/build_tarballs_release.jl x86_64-w64-mingw32-cxx11 --verbose
          rm -r ~/.julia
      - name: Cross-compilation of Uno -- x86_64-apple-darwin-cxx11
        run: |
          julia --color=yes -e 'using Pkg; Pkg.add("BinaryBuilder")'
          julia --color=yes .github/julia/build_tarballs_release.jl x86_64-apple-darwin-cxx11 --verbose
          rm -r ~/.julia
      - name: Cross-compilation of Uno -- aarch64-apple-darwin-cxx11
        run: |
          julia --color=yes -e 'using Pkg; Pkg.add("BinaryBuilder")'
          julia --color=yes .github/julia/build_tarballs_release.jl aarch64-apple-darwin-cxx11 --verbose
          rm -r ~/.julia
      - name: Generate the binaries
        run: julia --color=yes .github/julia/generate_binaries.jl
      - name: Create a new release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          body:
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: upload Linux artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Uno_binaries.${{ github.ref_name }}.x86_64-linux-gnu-cxx11.tar.gz
          asset_name: Uno.${{ github.ref_name }}.linux.tar.gz
          asset_content_type: application/gzip
      - name: upload Mac (Intel) artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Uno_binaries.${{ github.ref_name }}.x86_64-apple-darwin-cxx11.tar.gz
          asset_name: Uno.${{ github.ref_name }}.mac-intel.tar.gz
          asset_content_type: application/gzip
      - name: upload Mac (ARM) artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Uno_binaries.${{ github.ref_name }}.aarch64-apple-darwin-cxx11.tar.gz
          asset_name: Uno.${{ github.ref_name }}.mac-arm.tar.gz
          asset_content_type: application/gzip
      - name: upload Windows artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Uno_binaries.${{ github.ref_name }}.x86_64-w64-mingw32-cxx11.zip
          asset_name: Uno.${{ github.ref_name }}.windows.zip
          asset_content_type: application/zip
